/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
*::before ,*::after{
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 32px;
}
/* header */
.header{
    padding:18px 0;
    background-color:#222946;
}
span{
    font-size:24px;
    font-weight:600px;
    color: #fff;
    vertical-align: top;
    text-decoration: none;
}
.nav-img {
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}
.nav a .nav-img .nav-bell {
    vertical-align:middle;
}
.nav-bell{
    margin-right:32px;
}
/* new-section */
.new-section{
    padding: 50px 0;
    display:flex;
    align-items:baseline;
}
.aside{
    width: 20%;
    height: 600px;
    border: 2px solid aqua;
    background-color: #A3CAEA;
    border-radius: 10px;
    padding: 20px;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
}
.flex-1{
    display:flex;
    justify-content:space-between;
    /* align-items: center;/ */
    /* flex-direction:column; */
}
.icon-flex{
    display:flex;
    flex-direction:row;
    padding: 10px 60px;
}
.box{
    border: 2px solid #E09569;
    width: 80px;
    border-radius: 5px;
    color: #e09569;
}
.box i{
    color: #e09569;
}
small{
    color: #8BACCC;
    margin: 0 20px;
}
.btn{
    width: 240px;
    border-radius: 8px;
    border: none;
    padding:10px 20px;
    vertical-align:top;
    display:flex;
    align-items: baseline;
}
.log-out{
    color: blue;
    margin-left: 20px;
}
.article{
    width: 70%;
    height: 630px;
    /* border: 1px solid blue; */
    padding: 20px;
    border-radius: 10px;
    vertical-align:top;
    margin-bottom: 10px;
}
.article-title{
    font-size:42px;
    font-weight: bold;
    letter-spacing: 1px;
}
.article-btn{
    padding: 12px 40px;
    background-color: #58B768;
    color: #fff;
    font-size:16px;
    border-radius: 5px;
    border: none;
    margin:10px 0;
}
.para{
    line-height: 1.6;
    /* letter-spacing: 1px; */
    color: blue;
    width: 800px;
    /* height: 100px; */
}
/* footer */
.footer{
    padding: 24px 0;
    font-size: 20px;
    background-color: #222946;
}
.flex-footer{
    font-size:20px;
    color: #fff;
    margin-left: 24px;
}
.new{
    display:flex;
    justify-content:space-between; 
}
